.wrapper {
  margin: 1.5rem 0;
}

.table_wrapper {
  margin-top: 20px;
  border: 0.5px solid rgba(255, 255, 255, 0.25);

  @media (max-width: 20em) {
    overflow-x: scroll;
  }
}

.time_head_cell,
.action_head_cell,
.points_head_cell {
  padding-left: 1.5rem;
}

.view_head_cell {
  padding-right: 1.5rem;
  text-align: right;

  @media (min-width: 75em) {
    padding-right: 0;
    padding-left: 1.5rem;
    text-align: left;
  }
}

.points_head_cell {
  text-align: right;
  padding-right: 1.5rem;
}
