.wrapper {
  min-width: 26rem;
}

.input_wrapper {
  margin-top: 4px;
  position: relative;
  color: #fff;
  background: rgba(18, 18, 18, 0.5);
  backdrop-filter: blur(6px);

  .icon_wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    pointer-events: none;
    color: rgba(255, 255, 255, 0.75);
  }

  input {
    color: inherit;
    background-color: transparent;
    padding-left: 2.5rem;
    padding-top: 9px;
    padding-bottom: 9px;
    border: none;
    width: 100%;

    &::placeholder {
      color: #ffffff80;
      opacity: 1;
    }
  }
}
