.wrapper {
  max-width: none;
  margin: 3.5rem 0 0 0;

  @media (max-width: 37.5em) {
    max-width: 37.5rem;
    margin: 1rem auto 0;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-weight: normal;
    font-size: 1.438rem;
    line-height: 28px;
    color: #ffffff;
    opacity: 0.5;

    @media (max-width: 37.5em) {
      word-break: break-all;
      text-align: center;
    }
  }

  @media (max-width: 37.5em) {
    flex-direction: column-reverse;
    padding: 0 0.625rem;
  }
}

.points_wrapper {
  display: flex;
  align-items: center;

  p {
    font-weight: 500;
    font-size: 23px;
    line-height: 28px;
    text-align: right;
    color: #adafc6;
  }

  img {
    margin-left: 1.5rem;
  }

  @media (max-width: 37.5em) {
    margin-bottom: 3.5rem;
  }
}
