.row {
  &:not(:last-child) {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.25);
  }

  td {
    padding: 1.4rem 1rem;
    line-height: 1;

    &:not(:nth-child(1)) {
      background-color: #5b6097;
    }

    @media (max-width: 37.5em) {
      padding: 1rem;
    }
  }
}

td.time_cell {
  width: 12rem;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 19px;
  background-color: #3d437a;

  @media (max-width: 37.5em) {
    width: 7rem;
    font-size: 0.813rem;
  }

  @media (min-width: 75em) {
    font-size: 1rem;
    padding: 1.5rem;
  }
}

td.action_cell {
  font-size: 0.875rem;
  line-height: 19px;
  display: flex;
  flex-direction: column;

  .action {
    white-space: nowrap;
    font-weight: bold;
  }

  .story {
    white-space: break-spaces;

    @media (max-width: 37.5em) {
      min-width: 9.375rem;
    }
  }

  .action_points {
    opacity: 0.5;
  }

  @media (min-width: 75em) {
    display: table-cell;
    font-size: 1rem;
    padding: 1.5rem;
  }
}

td.view_cell {
  font-weight: normal;
  font-size: 1rem;
  line-height: 19px;
  padding: 1.5rem;
  width: 10rem;
  text-align: right;

  a,
  button {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  @media (min-width: 75em) {
    text-align: left;
  }
}

td.points_cell {
  font-size: 19px;
  line-height: 23px;
  text-align: right;
  padding: 1.5rem;
  width: 8rem;
}

// styles for skeleton
.skeleton {
  background-color: rgba($color: #fff, $alpha: 0.25);
  animation: blink 750ms ease-in infinite alternate;
  border-radius: 2px;
}

@keyframes blink {
  from {
    opacity: 0.25;
  }
  to {
    opacity: 1;
  }
}

.time_cell_skel {
  display: block;
  color: transparent;
  width: 60%;
}

.action_cell_skel {
  display: block;
  color: transparent;
  width: 90%;
}

.view_cell_skel {
  display: block;
  color: transparent;
  width: 20%;
}

.points_cell_skel {
  display: block;
  color: transparent;
  width: 50%;
  margin-left: auto;
}

// row fade-in animation
.row.fade_in {
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade_in {
  animation: fadeIn 1000ms ease forwards;
}
