.wrapper {
  margin-top: 5rem;
  margin-bottom: 2.25rem;
}

.title_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  a {
    display: none;
    padding: 12px 1rem;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 4px;

    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #ffffff;

    @media (min-width: 75em) {
      display: block;
    }
  }
}

.title {
  font-weight: bold;
  font-size: 33px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #cdcdd6;
}

.table_wrapper {
  margin-top: 20px;
  border: 0.5px solid rgba(255, 255, 255, 0.15);
  overflow-x: scroll;
}

.rank_head_cell {
  padding-left: 3rem;
  width: 10rem;
}

.image_head_cell {
  width: 84px;
}

.name_head_cell {
  width: 18.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.address_head_cell {
  padding-left: 1rem;
  width: 25rem;
}

.points_head_cell {
  width: 5rem;
  padding-left: 1rem;
  padding-right: 0;
}

.action_head_cell {
  text-align: center;
  width: 5.25rem;
  padding: 1rem;
}
