.wrapper {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.container {
  color: #989ab8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  h1 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 29px;
  }

  @media (min-width: 75em) {
    flex-direction: row;
  }
}

.graphic_container {
  padding-bottom: 0.625rem;
  margin-right: 0;

  @media (min-width: 75em) {
    padding-bottom: 20px;
    margin-right: 28px;
  }
}

.title_container {
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 29px;
    color: #adafc6;
    margin-bottom: 1.25rem;

    @media (min-width: 75em) {
      margin-bottom: 0;
    }
  }

  @media (min-width: 75em) {
    flex-direction: row;
  }
}

.stats {
  display: flex;
  margin-bottom: 2.188rem;

  > div {
    &:not(:last-child) {
      padding-right: 40px;
      border-right: 1px solid rgba(255, 255, 255, 0.2);
    }
    &:not(:first-child) {
      padding-left: 40px;
    }
  }

  h3 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 10px;
    line-height: 12px;
  }
  p {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 29px;
    text-align: center;
  }

  @media (min-width: 75em) {
    margin-bottom: 0;
  }
}
