.wrapper {
  background-color: #00074d;
  color: #fff;
}

.logo {
  width: 190px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}

.social {
  display: none;

  a {
    display: inline-block;
    color: inherit;
  }

  & > a:not(:last-child) {
    margin-right: 12px;
  }

  @media (min-width: 75em) {
    display: block;
  }
}
