.wrapper {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 75em) {
    margin-top: 2.188rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

.image_wrapper {
  width: 80px;
  height: 80px;

  @media (min-width: 75em) {
    margin-right: 12px;
  }
}

.data_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #ffffff;
    margin: 0.313rem 0;

    @media (min-width: 75em) {
      margin: 0;
    }
  }

  @media (min-width: 75em) {
    align-items: flex-start;
  }
}

.rank_wrapper {
  flex: 1 1 auto;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.5rem;
  padding: 0px 14px 0px 16px;
  background-color: #3d4379;
  border: 1px solid rgba(255, 255, 255, 0.2);

  .rank_title {
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    opacity: 0.5;
  }

  .rank_content {
    display: inline-block;
    margin-left: 1rem;
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
  }

  img {
    display: inline-block;
    margin: auto 0 auto 0.25rem;
    height: 1.5rem;
  }
}
