.row {
  &:not(:last-child) {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.25);
  }

  td {
    padding: 1.4rem 16px 1.4rem 0;
    line-height: 1;

    &:not(:nth-child(1)):not(:nth-child(2)) {
      background-color: #5b6097;
    }
  }
}

td.rank_cell {
  background-color: #3d437a;
  padding-left: 3.5rem;
  font-weight: bold;
  font-size: 23px;
  width: 10rem;

  .rank_content {
    display: flex;
    align-items: center;

    span.first {
      font-size: 39px;
      width: 34px;
    }

    span {
      display: inline-block;
      margin-right: 4px;
      width: 39px;
    }
  }
}

td.image_cell {
  padding: 0;
  width: 84px;
  height: 84px;

  .image_cell_skel {
    width: 100%;
    height: 100%;
  }

  .image_wrapper {
    width: 84px;
    height: 84px;
  }
}

td.name_cell {
  width: 18.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;

  h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &.name_cell_0 {
    font-weight: 600;
    font-size: 23px;
    line-height: 37px;
  }
}

td.address_cell {
  padding-left: 1rem;
  padding-right: 0;
  width: 25rem;
  font-size: 14px;
  line-height: 17px;
}

td.points_cell {
  width: 5rem;
  padding-left: 1rem;
  padding-right: 0;
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;

  &.points_cell_0 {
    font-size: 22px;
  }
}

td.action_cell {
  text-align: center;
  width: 5.25rem;
  padding: 1rem;
}

// styles for skeletons
.skeleton {
  background-color: rgba($color: #fff, $alpha: 0.25);
  animation: blink 750ms ease-in infinite alternate;
  border-radius: 2px;
}

@keyframes blink {
  from {
    opacity: 0.25;
  }
  to {
    opacity: 1;
  }
}

.rank_cell_skel {
  height: 35px;
  margin-left: -0.5rem;
}

.name_cell_skel {
  width: 18.75rem;
  h3 {
    font-weight: 600;
    color: transparent;
  }
}

.address_cell_skel {
  width: 90%;
  height: 1rem;
  color: transparent;
}

.points_cell_skel {
  color: transparent;
  height: 1.75rem;
}

// row fade-in animation
.row.fade_in {
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade_in {
  animation: fadeIn 1000ms ease forwards;
}
