.row {
  &:not(:last-child) {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.25);
  }

  td {
    padding: 1.4rem 1rem;
    line-height: 0;

    &:not(:nth-child(1)):not(:nth-child(2)) {
      background-color: #5b6097;
    }

    @media (max-width: 37.5em) {
      padding: 1rem;
    }
  }

  @media (max-width: 37.5em) {
    cursor: pointer;
  }
}

td.rank_cell {
  background-color: #3d437a;
  padding-left: 3.5rem;
  font-weight: bold;
  font-size: 23px;
  width: 10rem;

  .rank_content {
    display: flex;
    align-items: center;

    span.first {
      font-size: 2.438rem;
      margin-right: 0.25rem;

      @media (max-width: 37.5em) {
        font-size: 1.438rem;
      }

      @media (min-width: 37.5em) {
        font-size: 2.063rem;
      }
    }

    span {
      display: inline-block;
      margin-right: 0.625rem;
      width: 1rem;
      font-size: 1.438rem;
      text-align: right;

      @media (max-width: 37.5em) {
        font-size: 1rem;
      }
    }

    @media (max-width: 37.5em) {
      span,
      span.first {
        margin-right: 0;
      }

      img {
        display: none;
      }
    }
  }

  @media (max-width: 37.5em) {
    padding: 1.25rem 0.938rem;
  }
}

td.image_cell {
  padding: 0;
  min-width: 5.75rem;
  min-height: 5.75rem;

  .image_cell_skel {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 37.5em) {
    min-width: 4.813rem;
    min-height: 4.813rem;
  }
}

td.name_cell {
  width: 18.75rem;
  line-height: 1;

  h3 {
    white-space: break-spaces;
    font-weight: 600;

    @media (max-width: 37.5em) {
      font-size: 0.875rem;
    }

    @media (min-width: 37.5em) {
      font-size: 1rem;
    }
  }

  &.name_cell_0 {
    font-weight: 600;

    h3 {
      @media (max-width: 37.5em) {
        font-size: 1rem;
      }

      @media (min-width: 48em) {
        font-size: 1.188rem;
      }

      @media (min-width: 75em) {
        font-size: 1.438rem;
      }
    }
  }

  .name_cell_content {
    min-width: 6.25rem;
  }

  .truncated_string_mobile {
    opacity: 0.4;
    font-size: 0.875rem;
  }
}

td.address_cell {
  padding-left: 1rem;
  padding-right: 0;
  width: 25rem;
  font-size: 14px;
  line-height: 17px;
}

td.points_cell {
  width: 5rem;
  padding-left: 1rem;
  padding-right: 0;
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;

  @media (max-width: 37.5em) {
    font-size: 0.875rem;
    padding-right: 1rem;
    text-align: center;
  }

  &.points_cell_0 {
    font-size: 22px;

    @media (max-width: 37.5em) {
      font-size: 0.875rem;
    }
  }
}

td.action_cell {
  text-align: center;
  width: 5.25rem;
  padding: 1rem;
}

// styles for skeletons
.skeleton {
  background-color: rgba($color: #fff, $alpha: 0.25);
  animation: blink 750ms ease-in infinite alternate;
  border-radius: 2px;
}

@keyframes blink {
  from {
    opacity: 0.25;
  }
  to {
    opacity: 1;
  }
}

.rank_cell_skel {
  height: 35px;
  margin-left: -0.5rem;
}

.name_cell_skel {
  width: 18.75rem;
  h3 {
    font-weight: 600;
    color: transparent;
  }
}

.address_cell_skel {
  width: 90%;
  height: 1rem;
  color: transparent;
}

.points_cell_skel {
  color: transparent;
  height: 1.75rem;
}

// row fade-in animation
.row.fade_in {
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade_in {
  animation: fadeIn 1000ms ease forwards;
}
