.row {
  &:not(:last-child) {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
  }

  td {
    padding: 1.5rem 16px 1.5rem 0;
    line-height: 1;
  }
}

td.rank_cell {
  width: 1%;
  background-color: #3d437a;
  padding-left: 3.5rem;
  font-weight: bold;
  font-size: 23px;

  .rank_content {
    display: flex;
    align-items: center;

    span.first {
      font-size: 39px;
      width: 34px;
    }

    span {
      display: inline-block;
      margin-right: 4px;
      width: 39px;
    }
  }
}

td.image_cell {
  padding: 0;
  width: 1%;

  .image_cell_content {
    position: relative;
    min-width: 84px;
    min-height: 84px;
  }

  .image_wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 84px;
    height: 84px;
  }
}

td {
  &.name_cell {
    padding-left: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }

  &.name_cell_0 {
    font-weight: 600;
    font-size: 23px;
  }
}

td.points_cell {
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
}

td.address_cell {
  font-size: 14px;
  line-height: 17px;
}

td .link {
  padding: 16px;
}
